@layer helpers {
  .color-white {
    color: var(--color-white);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-brown {
    background-color: var(--color-brown);
  }



   .center{
    justify-items: center;
  }

  .align-text {
    margin-top: 1rem;
  }

  .row {
    display: flex;
  }

 
  .space-margin {
    margin: 0.8rem;
  }



.cielo {
  display: inline-flex;
  padding-top: 5rem;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0;
}

.espacio {
  margin-top: 10rem;
}

.sprites {
 
  width: 150px;
  height: 100px;
}
.menu-logo{
  width: 30rem;
  height: auto ;
}


}



