@layer helpers {
  .color-white {
    color: var(--color-white);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-brown {
    background-color: var(--color-brown);
  }

  .bg-celeste{
    background-color: var(--color-celeste);
  }



   .center{
    justify-items: center;
  }

  .align-text {
    margin-top: 1rem;
  }

  .row {
    display: flex;
  
  }

 
  .space-padding{
    padding-top: 3rem;
  }


  .space-margin {
    margin: 0.8rem;
  }



.cielo {
   width: 100%;
  min-height: 100vh;   
  display: flex;
  flex-direction: column;
  padding: 0;         
  margin: 0;
}



.espacio {
   padding-top: 25rem;
}



.cerca-barra {
  width: 100%;
  height: 100px; 
  background-image: url(../../img/cerca.png);
  background-size: contain;
}



.menu-logo{
  width: 30rem;
  height: auto ;
}

.shopItem{
  width: 13rem;
  height: auto ;
}

.shop-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.shop-wrap {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;         
  gap: 1rem;

}


.text-overflow{
  max-width: 80rem;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 1rem;

}

  
}



